body,html{ margin:0; padding:0;}
li{ list-style:none;}
.clear{margin:0px; padding:0px; width:0px; height:0px; line-height:0px; font-size:0px; clear:both;}
.blank950{ height:7px; width:950px;line-height:0; padding:0; font-size:0; clear:both; margin:0 auto; }
.blank7{ height:7px; line-height:0; margin:0; padding:0; font-size:0; width:100%; clear:both;}
.wrapper1000{ width:1000px; margin:0 auto; margin-bottom:10px; padding:0;}
.more{ float:right; line-height:28px; font-size:12px; color:#d6181a; font-weight:normal; padding-right:5px;}
.more a{color:#d6181a;}

#header{width:1000px; margin:0 auto; padding:0 0 5px 0;}
#channelName{width:540px; float:left; height:45px;line-height:45px; color:#f8b95a; font-size:28px; margin:0 10px 0 20px; }
#slogan{ font-size:14px;color:#000; padding:0 5px 0 25px; background:url(../images/slogan_ico.jpg) no-repeat;}
#channelName span{ margin-right:10px;}
#searchBar{ padding-top:10px;width:330px; height:24px; line-height:24px; float:right;}
#nav_culture{ width:1000px; margin:0 auto; border-top:5px solid #393939;}
#nav_culture ul{ clear:right; margin:0; padding:0 0 0 10px;height:30px; line-height:30px;list-style:none; text-align:center;border-bottom:1px solid #c5c5c5;}
#nav_culture ul li{ width:108px; float:left; margin:0; border-right:1px solid #c5c5c5;}
#subnav_culture{ width:1000px; height:24px; margin:0 auto 10px; border-bottom:1px solid #c5c5c5; border-top:1px solid #fff; background:#f5f5f5; text-indent:10px;}

.box_left{ width:240px; padding:0 10px; float:left; border-right:1px solid #ccc;}
.leftpart{ width:660px; margin:0; float:left;}
.box_mid{ width:380px; margin:0 0 0 15px; float:left;}
.rightpart{ width:310px; padding:9px 9px 2px; float:right; background:#f0f0f0;}
.column_left{ margin:5px 0 10px;}
.column_right{ width:300px; border:1px solid #ccc; margin-bottom:10px; background:#fff; padding:4px;}
.column_right .picTxt{ padding-left:5px;}
.titBarline4{ width:100%; height:4px; line-height:0; font-size:0; margin:5px 0 5px 0; padding:0; background:#f8b95a;}
.titBarline7{ width:100%; height:0px; line-height:0; font-size:0; margin:0 0 2px 0; padding:0; border-bottom:3px solid #f8b95a; padding-top:10px;}
.line_dash{ width:98%; height:0; line-height:0; font-size:0; margin:3px auto; border-bottom:1px dashed #ccc; clear:both;}
.line_dotted{ width:98%; height:0; line-height:0; font-size:0; padding:5px 0 0; margin:0 auto 5px; border-bottom:1px dotted #ccc; clear:both;}

.picTxt{ padding:5px 0;}
.picTxt img{ float:left; margin-right:5px;}
.picBox140{ float:left; width:150px; text-align:center; padding:7px 0 0 0;}
.bg_focus{ width:160px; height:55px; background:url(../images/bg_focus.jpg) no-repeat #e4edf2; padding:5px 0 0 80px; margin-bottom:5px;}
.bg_focus a{ font-size:14px; line-height:24px;color:#f8b95a; font-weight:bold;}
.headlines{font-family:'黑体'; font-size:20px; line-height:40px; color:#d6181a; text-align:center;}
.headlines a{color:#d6181a;}
.titColunm{ float:left; padding-left:5px;}
.titBar_mid01,.titBar_mid02{ width:350px; height:32px; line-height:32px; font-size:16px; font-weight:bold; color:#d6181a; background:#eaeaea; margin-bottom:10px; background:url(../images/zbg.gif) no-repeat left; padding-left:30px;}
.titBar_mid01 a,.titBar_mid02 a{color:#d6181a;}
.titBar_mid02{ width:630px; background:url(../images/cbg.gif) no-repeat left;}
.titColumn_mid01{ padding-left:10px; float:left;}
.subtitColumn_mid01{width:265px; padding-right:5px; font-size:12px; font-weight:normal;line-height:32px; color:#fff; text-align:right;float:right;}
.subtitColumn_mid01 span{margin:0 5px;}
.subtitColumn_mid01 a{color:#fff; }
.titBar_left02,.titBar_left03,.titBar_left04{ font-size:14px; line-height:28px; color:#d6181a; font-weight:bold; background:url(../images/danghui.gif) no-repeat left; padding-left:30px;}
.titBar_left03{ background:none; padding-left:10px;}
.titBar_left04{ background:url(../images/dbg.gif) no-repeat; line-height:35px; font-size:16px;}
.titBar_right02{ width:275px; height:28px; line-height:28px; font-size:14px; color:#d6181a; border-bottom:1px solid #ccc; font-weight:bold; background:url(../images/danghui.gif) no-repeat left; padding-left:25px;}
.titBar_bottom{ width:100px; height:3px; margin:-3px 0 5px 0; padding:0; line-height:0; font-size:0; background:#f8b95a;}
.bg_InstantNews{ padding-left:45px; height:27px; line-height:27px; background:url(../images/newsBg_InstantNews.gif) no-repeat; font-size:14px;color:#fff; padding-bottom:2px; border-bottom:1px solid #666; margin-bottom:5px;}
.banner640{ width:640px; margin:10px 0 10px 10px;}
.newsTitle{ width:335px; float:left;}
.newsTime{ width: 40px; float:right; color:#666; font-size:12px; font-weight:normal;}
.box_mid br{ clear:both;}
#pictures .picBox160{ float:left; width:200px; text-align:center; overflow:hidden;}
#pictures img{ padding:5px; background:#f0f0f0;}
#friendlink,#cooperation{ width:1000px; margin:0 auto; border-bottom:1px solid #ccc;  }
#cooperation span,#friendlink span{ margin-left:10px;}
#cooperation{ border-top:4px solid #f8b95a;}

#bimg{ FILTER: progid:DXImageTransform.Microsoft.Fade ( duration=0.5,overlap=1.0 ); width:300px; height:214px; margin:0 auto;}
#pic_scroll_title_box{ width:300px; height:24px; margin:0 auto; position:relative;}
#info{ width:295px; padding-left:5px; height:24px;line-height:24px; font-size:12px; color:#f8b95a;text-align: left;}
#simg{width:100px; height:22px; padding-top:8px; position:absolute; bottom:25px; right:5px;}
#simg ul li{ float:left; list-style-type:none;}
.xbigon .xbigoff{ font-size:12px; cursor: pointer; font-weight: bold; color: #fff; text-align:center; width:25px; height:16px;}
#simg div{ FONT-SIZE: 12px; BACKGROUND: #fc5b03; FLOAT: left; WIDTH: 18px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 15px; MARGIN-RIGHT: 1px; HEIGHT: 15px; TEXT-ALIGN: center;}
#simg .f1{ BACKGROUND: #6f6f6f;}
.dis{ DISPLAY: block;}
.undis{ DISPLAY: none;}



#subnav_mil{ width:980px; height:24px; padding:0 10px; margin:0 auto 10px; border-bottom:1px solid #c5c5c5; border-top:1px solid #fff; background:#f5f5f5; text-indent:10px; overflow:hidden;}