body{margin:0 auto;padding:0;border:0; font-family:"微软雅黑"; font-size:14px;}
div,form,img,ul,ol,li,dt,dd,p{margin:0;padding:0;border:0; list-style:none;}
ol,ul,li{ list-style:none;}
dl{margin:0;padding:0;border:0;}
dt,dd{clear:both;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;color:#000;font-weight:normal;}
a:link{text-decoration:none; color:#000;}
a:visited{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#000;}
h3{ font-size:18px; color:#5f0f60;}
h4{ font-size:18px; color:#0065B0;}
.mar1000{width:1000px; margin:0 auto 0; background:#fff; overflow:hidden;}
.clearfix:after{ display:block; clear:both; content:""; visibility:hidden; height:0; font-size:0;}
.clearfix{ zoom:1}
.fl{ float:left;}
.fr{ float:right;}

.wrapper1000{ width:1000px; margin:20px auto; padding:0px;}
.more{ float:right; font-size:12px; color:#1993a0; font-weight:normal; padding-right:5px;}
.more a{color:#000;}
#header{width:1000px; margin:0 auto; padding-bottom:10px;}
#channelName{width:500px; float:left; height:45px;line-height:45px; color:#991513; font-size:28px;margin:0 10px 0 20px; }
#channelName span{ margin-right:10px;}
#slogan{ font-size:14px;color:#000; padding:0 5px 0 25px; background:url(../images/slogan_ico.jpg) no-repeat;}
#searchBar{margin-top:12px;width:370px; height:30px; float:right;}

#nav_world{ width:100%; height:50px; background:#01B786;}
#nav_world ul{width:1000px; margin:0 auto;}
#nav_world ul li{ float:left; height:21px; margin:14px 40px 0 0;}
#nav_world ul li img{ float:left; visibility:hidden;}
#nav_world li.one{background:url(../images/1.png) no-repeat;}
#nav_world li.two{background:url(../images/2.png) no-repeat;}
#nav_world li.three{background:url(../images/3.png) no-repeat;}
#nav_world li.four{background:url(../images/4.png) no-repeat;}
#nav_world li.five{background:url(../images/5.png) no-repeat;}
#nav_world li.six{background:url(../images/6.png) no-repeat;}
#nav_world li.seven{background:url(../images/7.png) no-repeat;}
#nav_world li.eight{background:url(../images/8_bg.png) no-repeat;}
#nav_world ul li:hover img{ visibility:visible;}
#nav_world li.nine{ height:auto;}
#nav_world li.nine a{ font-size:20px; color:#FFFFFF; line-height:100%;}


.left{ float:left; width:580px; overflow:hidden; margin-top:20px;}
.right{ float:right; width:380px; overflow:hidden; margin-top:20px;}
/*焦点图*/
.slider{ width:580px;height:431px;float:left;margin:0px 0 8px 0px;position:relative;display:inline; overflow:hidden;}
.pic_title{ position:absolute; bottom:111px; left:0; width:560px; padding:0 10px; background:#000;filter:alpha(opacity:60);opacity:0.6; height:40px;}
.pic_title p{width:620px; display:none; line-height:40px;}
.pic_title p a{font-size:14px; color:#fff;}
.pic{ width:580px; height:320px; position:relative;}
.pic li{ position:absolute; width:580px;height:320px; top:0; left:0; display:none;}
.pic li img{width:580px;height:320px;}
.pad{ position:absolute; bottom:18px; left:-10px;}
.pad li{ width:140px; height:82px; float:left; margin-left:7px; cursor:pointer;filter:alpha(opacity:50);opacity:0.5;}
.pad li img{ width:140px; height:82px;}
.pad li.on{filter:alpha(opacity:100);opacity:1;}
/*今日头条*/
.title_left{ width:580px; height:32px; background:url(../images/title.png) no-repeat; float:left;}
.title_left a{ margin-right:10px; line-height:30px; float:right; color:#fff; font-size:14px;}
.main_list{ display:none;}
.left_list{ padding:10px 0 10px 0px; border-bottom:#C5C5C5 dashed 1px; width:580px; overflow:hidden; position:relative; clear:both;}
.left_list img{ float:left; width:208px; height:140px; margin-right:20px;}
.left_list h2{ float:left; font-size:20px;color:#333;font-weight:normal;line-height:2em; width:580px;}
.left_list p{ float:left;  color: #666;line-height: 1.8em; width:580px;}
.charebox{ float:left;width:352px; margin-top:10px; color: #666;}
.charebox a{color: #666;}
a.load_more{ width:574px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; margin:20px 0 0 0px; display:block; background:#01B786;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border-radius:7px; cursor:pointer;}
a.load_more1{ width:574px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; margin:20px 0 0 0px; display:block; background:#01B786;-moz-border-radius:7px;-khtml-border-radius:7px;-webkit-border-radius:7px;border-radius:7px; display:none;}

/*专题*/
.title_right{ width:380px; height:32px; background:#F2F2F2; clear:both; position:relative;}
.title_right img{float:left;}
.title_right a{ font-size:14px; color:#777; position:absolute; right:10px; top:7px;}
.right_box{ overflow:hidden; width:380px; margin-bottom:20px;}
.pic_list img{ float:left; width:120px; height:70px; margin:5px 10px 0 0;}
.pic_list b{ float:left; width:380px; font-size:16px; margin-top:8px;line-height: 2em; color:#000;}
.pic_list p{ float:left; width:248px; line-height: 25px;}
.pic_list p a{ color:#C10000;}
.right_box ul{ margin-top:5px; float:left; clear:both;}
.right_box li{ width:380px; line-height:23px; background:url(../images/index.png) no-repeat left -126px; font-size:16px; padding-left:10px; margin-left:3px;  line-height: 2em;vertical-align: middle;}
.right_img{ float:left; margin-top:4px;}
/*右侧滚动图*/
.gun{ width:380px;height:240px;float:left;margin:10px 0 0px 0px;position:relative;display:inline; overflow:hidden;}
.gun_pic{  width:380px;height:240px; position:relative;}
.gun_pic li{ position:absolute;  width:380px;height:240px; top:0; left:0; display:none; background:none; margin-left:0; padding-left:0;}
.gun_pic li img{ width:380px;height:240px;}
.gun_title{ position:absolute; bottom:0; left:0; width:360px; padding:0 10px; background:url(../images/img.png) repeat; height:40px;}
.gun_title p{display:none; line-height:40px;}
.gun_title p a{font-size:16px; color:#fff;}
.gun_num{ position:absolute; bottom:10px; right:5px;}
.gun_num li{ width:10px; height:10px; float:left; margin-right:5px; cursor:pointer; background:url(../images/index.png) no-repeat -56px 0; display:block; margin-left:0; padding-left:0;}
.gun_num li.on{background:url(../images/index.png) no-repeat -73px 0;}
/*友情链接*/
.friend_link{ border-top:#01B786 2px solid; margin-top:20px;}
.friend_link h3{ margin:12px 0 0 8px; color:#5f0f60; font-size:14px;}
.link_box{ float:left; margin:16px 0 0 12px;}
.link_box a{ float:left; width:150px; color:#676767; line-height:20px;}
.lianxi{ clear:both;color:#676767; margin:15px 0 0 12px; float:left; width:1000px;}
.lianxi b{ font-size:14px; color:#000;}

/*添加share*/
.share_live24{position: absolute;right:10px;bottom:4px;height:24px;z-index:999;}
.share_live24 a#share_share01{background:url(../images/weixin.png) no-repeat;width:16px;height:16px;}
.share_live24 a#share_share02{background:url(../images/top_logos_sprite.png) no-repeat 0 -270px;width:16px;height:16px;}
.share_live24 a#share_share03{background: url(../images/top_logos_sprite.png) no-repeat 0 -234px;width:16px;height:16px;}
.share_live24 a{float:right;line-height:24px;margin:4px 0 0 3px;display:block;width:16px;height:16px;}
.share_live24 span{float:right;line-height:24px;}

.clearfloat{clear:both;}
.title_t1{ background:#f2f2f2;}
.title_t1 .arc{background:url(../images/title_t1.png) no-repeat right top; padding-right:45px; height:32px; line-height:32px; }
.title_t1 p{ color:#FFFFFF; font-size:20px; padding-left:10px; background:#01b786;}
.title_t1 .more{ padding:5px 10px 0px 0px; font-size:14px;}
.title_t1 .more a{ color:#777;}
/*文字无缝滚动*/
.marquee-left{ margin-bottom:20px;}
.marquee-left .bd{ width:510px; height:20px; overflow:hidden;}
.marquee-left .arc_list li{ height:20px; line-height: 20px; float:left; margin-right:10px; width:320px;}
.marquee-left h2{ font-size:14px; font-weight:normal;}

/*独家策划*/
.picScroll-left{ overflow:hidden; position:relative;width:380px; height:260px;margin-bottom: 20px;}
.picScroll-left .hd{position:relative; z-index:4; top:80px;}
.picScroll-left .hd .prev{ display:block; width:34px; height:84px; cursor:pointer;background:url(../images/left.png) no-repeat; float:left; margin-right:30px;}
.picScroll-left .hd .next{ display:block; width:34px; height:84px; cursor:pointer; background:url(../images/right.png) no-repeat; float:right;}
.picScroll-left .bd{ position:absolute; top:0; left:0;width:380px; height:260px; overflow:hidden;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1;}
.picScroll-left .bd ul li{ width:187px; height:260px; float:left; overflow:hidden; margin-right:5px; position:relative;}
.picScroll-left .bd ul li img{width:187px; height:260px;display:block;}
.picScroll-left .bd ul li span{ position:absolute; bottom:0; left:0;height:30px; line-height:30px; text-align:center; overflow:hidden;background: url(../images/shadow_black.png) repeat; width:100%; display:block;}
.picScroll-left .bd ul li span a{color: #fff;font-size: 12px;}


