
#nav_nengyuan ul {
	clear:right;
	margin:0;
	padding:0 0 0 6px;
	height:30px;
	line-height:30px;
	list-style:none;
	text-align:center;
	border-bottom:1px solid #c5c5c5;
}
#nav_nengyuan ul li {
	float:left;
	padding:0 10px;
	margin:0;
	border-right:1px solid #c5c5c5;
}
#subnav_nengyuan {
	width:1000px;
	height:24px;
	margin:0 auto 10px;
	border-bottom:1px solid #c5c5c5;
	border-top:1px solid #fff;
	background:#f5f5f5;
	text-indent:10px;
}
.channel_center {
	float:left;
	width:290px;
	height:45px;
	line-height:45px;
	padding-top:3px;
}
.channel_center a {
	float:left;
	font-size:14px;
	color:#000;
	margin-left:5px;
}
.fir_a {
	margin-right:60px;
}
.rig_nav_a {
	padding:0 0 0 5px;
}
.column_right .picTxt {
	padding-left:5px
}

.dujia {
	width:41px;
	height:18px;
	background:url(../images/dujia.jpg) no-repeat
}
.titBar_left02 a {
	color:#132b5d
}
.titBar_left03 {
	line-height:28px
}
.subtitColumn_mid02 {
	width:268px;
	padding-right:5px;
	font-size:12px;
	font-weight:normal;
	line-height:32px;
	color:#132b5d;
	text-align:right;
	float:right
}
.subtitColumn_mid02 span {
	margin:0 5px
}
.titColumn_mid02 a,.subtitColumn_mid02 a {
	color:#132b5d
}
.titColumn_mid01 a,.subtitColumn_mid01 a {
	color:#132b5d
}
#pictures .picBox140 {
	float:left;
	width:165px;
	text-align:center
}
#pictures img {
	padding:5px;
	background:#f0f0f0
}
#friends p {
	padding:0 0 10px
}
#friends img {
	margin:0 10px 0 0
}
#info a {
	color:#000
}
.pic-new {
	width:300px;
	250px;
}

body,html {
	margin:0;
	padding:0
}
.clear {
	margin:0px;
	padding:0px;
	width:0px;
	height:0px;
	line-height:0px;
	font-size:0px;
	clear:both
}
.blank950 {
	height:7px;
	width:950px;
	line-height:0;
	padding:0;
	font-size:0;
	clear:both;
	margin:0 auto
}
.blank7 {
	height:7px;
	line-height:0;
	margin:0;
	padding:0;
	font-size:0;
	width:100%;
	clear:both
}
.wrapper1000 {
	width:1000px;
	margin:0 auto;
	margin-bottom:10px;
	padding:0
}
.more {
	float:right;
	line-height:28px;
	font-size:12px;
	color:#132b5d;
	font-weight:normal;
	padding-right:5px
}
.more a {
	color:#132b5d
}
.navy14,.navy14b {
	font-size:14px;
	line-height:28px;
	color:#132b5d
}
.navy14b {
	font-weight:bold
}
.navy14 a,.navy14b a {
	color:#132b5d
}
.navy12,.navy12b {
	font-size:12px;
	line-height:24px;
	color:#132b5d
}
.navy12b {
	font-weight:bold
}
.navy12 a,.navy12b a {
	color:#132b5d
}
#header {
	width:1000px;
	margin:0 auto;
	padding:0 0 5px 0
}
#channelLogo {
	float:left;
	font-size:20px;
	margin:0 10px 0 20px
}
#channelLogo img {
	margin:0 5px -5px
}
.channelName {
	background:#132b5d;
	height:30px;
	line-height:30px;
	padding:0 3px;
	color:#fff;
	font-weight:bold
}
#searchBar {
	padding-top:10px;
	width:370px;
	height:24px;
    margin-top:12px;
	line-height:24px;
	float:right
}
#nav_news {
	width:1000px;
	margin:0 auto 10px;
	border-top:5px solid #393939
}
#nav_news ul {
	clear:right;
	margin:0;
	padding:0 0 0 10px;
	height:30px;
	line-height:30px;
	list-style:none;
	text-align:center;
	border-bottom:1px solid #c5c5c5
}
#nav_news ul li {
	width:64px;
	float:left;
	margin:0;
	border-right:1px solid #c5c5c5
}
#subnav_news {
	width:1000px;
	height:24px;
	margin:0 auto 10px;
	border-bottom:1px solid #c5c5c5;
	border-top:1px solid #fff;
	background:#f5f5f5;
	text-indent:10px
}
.box_left {
	width:240px;
	padding:0 10px;
	float:left;
	border-right:1px solid #ccc
}
.leftpart {
	width:660px;
	margin:0;
	float:left
}
.box_mid {
	width:380px;
	margin:0 0 0 15px;
	float:left
}
.rightpart {
	width:310px;
	padding:9px 9px 2px;
	float:right;
	background:#f0f0f0
}
.column_left {
	margin:5px 0 10px
}
.column_right {
	width:300px;
	border:1px solid #ccc;
	margin-bottom:10px;
	background:#fff;
	padding:4px
}
.titBarline4 {
	width:100%;
	height:4px;
	line-height:0;
	font-size:0;
	margin:5px 0 0 0;
	padding:0;
	background:#b5dcef;
	clear:both;
}
.titBarline7 {
	width:100%;
	height:7px;
	line-height:0;
	font-size:0;
	margin:0 0 2px 0;
	padding:0;
	background:#132b5d
}
.line_dash {
	width:98%;
	height:0;
	line-height:0;
	font-size:0;
	margin:3px auto;
	border-bottom:1px dashed #ccc;
	clear:both
}
.line_dotted {
	width:98%;
	height:0;
	line-height:0;
	font-size:0;
	padding:5px 0 0;
	margin:0 auto 5px;
	border-bottom:1px dotted #ccc;
	clear:both
}
.picTxt {
	padding:5px 0
}
.picTxt img {
	float:left;
	margin-right:5px
}
.picBox140 {
	float:left;
	width:150px;
	text-align:center;
	padding:7px 0 0 0
}
#rank ul {
	margin:0;
	padding:0;
	list-style:none;
	display:block
}
#rank ul li {
	display:block;
	height:24px;
	margin:0;
	padding:0;
	border-bottom:1px dotted #cecece;
	clear:both
}
#rank ul li span {
	display:block;
	float:left;
	height:24px;
	line-height:24px
}
#rank ul li span.r1,#rank ul li span.r2 {
	width:18px;
	height:18px;
	line-height:18px;
	margin:3px 5px 0 0;
	text-align:center;
	font-size:12px
}
#rank ul li span.r1 {
	color:#c00
}
.headlines {
	font-family:'黑体';
	font-size:20px;
	line-height:36px;
	color:#132b5d;
	text-align:center
}
.headlines a {
	color:#132b5d
}
.titColunm {
	float:left;
	padding-left:5px;
	font-weight:bold
}
.titBar_mid01 {
	width:380px;
	height:32px;
	line-height:32px;
	font-size:16px;
	font-weight:bold;
	color:#000;
	background:#e7e9ee;
	border-top:1px solid #132b5d;
	margin-bottom:5px
}
.titBar_mid01 a {
	color:#000
}
.titBar_left02 {
	font-size:14px;
	line-height:28px;
	color:#1993a0;
	font-weight:bold;
	background:#f0f0f0
}
.titColumn_mid01 {
	padding-left:10px;
	float:left;
	width:100px;
}
.subtitColumn_mid01 {
	width:265px;
	padding-right:5px;
	font-size:12px;
	font-weight:normal;
	line-height:32px;
	color:#fff;
	text-align:right;
	float:right
}
.subtitColumn_mid01 span {
	margin:0 5px
}
.subtitColumn_mid01 a {
	color:#fff
}
.titBar_right02 {
	width:310px;
	height:28px;
	line-height:28px;
	font-size:14px;
	color:#074d93;
	border-bottom:2px solid #074d93;
	text-indent:5px;
	font-weight:bold
}
.bg_InstantNews {
	padding-left:45px;
	height:27px;
	line-height:27px;
	background:url(../images/newsBg_InstantNews.gif) no-repeat;
	font-size:14px;
	color:#fff;
	padding-bottom:2px;
	border-bottom:1px solid #666;
	margin-bottom:5px
}
.banner640 {
	width:640px;
	margin:10px 0 10px 10px
}
.newsTitle {
	width:335px;
	float:left
}
.newsTime {
	width:40px;
	float:right;
	color:#666;
	font-size:12px;
	font-weight:normal
}
.box_mid br {
	clear:both
}
#friendlink {
	border-bottom:1px solid #ccc;
	border-top:1px solid #132b5d;
	background:#f1f1f1
}
#friendlink span {
	margin-left:10px
}
#bimg {
	FILTER:progid:DXImageTransform.Microsoft.Fade ( duration=0.5,overlap=1.0 );
	width:300px;
	height:214px;
	margin:0 auto
}
#pic_scroll_title_box {
	width:300px;
	height:24px;
	margin:0 auto;
	position:relative
}
#info {
	width:295px;
	padding-left:5px;
	height:24px;
	line-height:24px;
	font-size:12px;
	color:#132b5d;
	text-align:left
}
#simg {
	width:100px;
	height:22px;
	padding-top:8px;
	position:absolute;
	bottom:25px;
	right:5px
}
#simg ul li {
	float:left;
	list-style-type:none
}
.xbigon .xbigoff {
	font-size:12px;
	cursor:pointer;
	font-weight:bold;
	color:#fff;
	text-align:center;
	width:25px;
	height:16px
}
#simg div {
	FONT-SIZE:12px;
	BACKGROUND:#a30401;
	FLOAT:left;
	WIDTH:18px;
	CURSOR:pointer;
	COLOR:#fff;
	LINE-HEIGHT:15px;
	MARGIN-RIGHT:1px;
	HEIGHT:15px;
	TEXT-ALIGN:center
}
#simg .f1 {
	BACKGROUND:#6f6f6f
}
.dis {
	DISPLAY:block
}
.undis {
	DISPLAY:none
}
.titBar_mid02,.titBar_mid03 {
	width:100%;
	height:30px;
	line-height:30px;
	font-size:16px;
	color:#000;
	border-bottom:7px solid #ccc;
	text-indent:5px;
	font-weight:normal;
	padding-top:5px;
}
.titBar_mid03 {
	border-bottom:1px solid #ccc;
	font-size:14px;
	color:#132b5d
}
.titBar_bottom,.titBar_bottom03 {
	width:100px;
	height:7px;
	margin:-7px 0 5px 0;
	padding:0;
	line-height:0;
	font-size:0;
	background:#074d92
}
.titBar_bottom03 {
	height:2px;
	margin:-2px 0 5px 0
}
#appoint {
	width:646px;
	margin-left:10px
}
#channelName {
	width:500px;
	float:left;
	height:45px;
	line-height:45px;
	color:#074d93;
	font-size:28px;
	margin:0 10px 0 20px
}
#channelName span {
	margin-right:10px
}
#slogan {
	font-size:14px;
	color:#000;
	padding:0 5px 0 25px;
	background:url(../images/slogan_ico.jpg) no-repeat
}
#nav_politics {
	width:1000px;
	margin:0 auto;
	border-top:5px solid #393939
}
#nav_politics ul {
	clear:right;
	margin:0;
	padding:0 0 0 10px;
	height:30px;
	line-height:30px;
	list-style:none;
	text-align:center;
	border-bottom:1px solid #c5c5c5
}
#nav_politics ul li {
	float:left;
	margin:0; padding:0 12px;
	border-right:1px solid #c5c5c5
}
#subnav_politics {
	width:1000px;
	height:24px;
	margin:0 auto 10px;
	border-bottom:1px solid #c5c5c5;
	border-top:1px solid #fff;
	background:#f5f5f5;
	text-indent:10px
}
.newsTitle { float:left; overflow:hidden; width:335px; line-height:28px; height:28px;}
.black12 span{ width:293px; float:left; overflow:hidden; height:24px; line-height:24px; white-space: nowrap; text-overflow: ellipsis;}
.box_left .black12 span{ width:235px;}
.yincang{ width:240px; float:left; overflow:hidden; height:24px; line-height:24px; height:24px;font-size:12px;}
.yincang a{color:#000000; text-decoration:none; }
.yincang a:hover{color:#000000; text-decoration:underline;}
.gmtj{ width:240px; float:left; overflow:hidden; height:24px; line-height:24px; font-size:12px;}
.gmtj a{color:#000000; text-decoration:none; }
.gmtj a:hover{color:#000000; text-decoration:underline;}